.wrap{}
.wrap header{background: #0093ff; max-height: 520px; width:100%;padding: 18% 0;; position: relative; height:0;}
    /*baner图版心*/
header .tem{position: absolute; top:0; bottom:0; left: 12%; right:12%; margin: 0 auto; padding-top: 9%; max-width:1024px; font-size: 95%; box-sizing: border-box;}
/*logo*/
header .tem .tem_logo{background: url("../img/SAME-logo-white.png") no-repeat; background-size: 100%;width:36%;height:28%}
header .tem .tem_logo a{display: block; text-indent: -999em; height:100%;}
header .tem h3{margin-top: 1vw; font-size: 2.6vw; line-height: 4vw; font-weight: 300; color:#fff;}
header .tem .tem_txt{font-size: 1.2vw;  width: 50%;  margin-top: 0;  white-space: nowrap;  color: #fff;}
header .tem .down{width:24%;height:12%; border:1px solid #fff;border-radius:0.4em; margin-top: 3%; padding: 1% 0; cursor: pointer}
header .tem .down span{background: url("../img/1.png") no-repeat 50%; width:28%; border-right:1px solid #fff; display: block; height:100%; float: left;}
header .tem .down .tem_r{height:100%; padding-left: 8%; float: left; font-size: 2vw; line-height: 2vw; color:#fff;}
header .tem .down .tem_r i{font-style: normal;font-size: 1vw; line-height: 1vw; font-weight: 300; margin-top: 5%; display: block;}
header .tem .down .tem_r .jkx{font-size: 2vw;  line-height: 2vw;  position: relative;}
header .tem .ip{background:url("../img/screenshot.png") no-repeat 100% 100%; background-size:100%; position: absolute; bottom:0; right: 0; height: 100%; width:44%;}
/*移动端*/
header .iphone{position: absolute;top: 0; width: 100%;height: 100%;padding-top: 14%; -webkit-box-sizing: border-box;  box-sizing: border-box;display: none;}
header .iphone .ip_on1{margin: auto;margin-bottom: 8vw; width: 33vw;height:33vw;background:url("../img/same_appicon.png") no-repeat 50% 50%;background-size: 100%;}
header .iphone h1{width: 50vw;height: 14vw; margin-top: 8vw;  background: url("../img/SAME-logo-white.png") no-repeat; background-size: 100%;}
header .iphone .logo{margin: auto;}
header .iphone .logo a{display: block;height:100%;text-indent:-999em;}
header .iphone .ip_hr{height: 1px;border-top: 1px solid #fff; margin: 3vw auto;width: 8vw;}
header .iphone h3{font-size: 6vw;height: 8vw;text-align: center;}
header .iphone .ip_txt{font-size: 3vw;line-height: 8vw;text-align: center;position: absolute;left: 0;right: 0;margin: auto;bottom: 0;background-color: hsla(0,0%,100%,.1);  white-space: nowrap;overflow: hidden;}
header .iphone .ip_txt span{font-size: 3vw;line-height: 8vw;text-align: center;white-space: nowrap;}

/*内容*/
.content{background-color: #fff;  padding-top: 30px;  padding-bottom: 100px;}
.cont{width:100%;max-width: 1300px; box-sizing:border-box; padding: 0 60px; margin: 0 auto; display: flex; justify-content: space-around;flex-flow: row wrap;}
.cont .pictrue{width:240px; height:360px; margin: 30px;}
.cont .pictrue span{background: url("../img/2.png")no-repeat; background-size: 100%; width:180px;height:180px; display:inline-block; background-position: bottom;}
.cont .pictrue .s1{background: url("../img/3.png")no-repeat;}
.cont .pictrue .s2{background: url("../img/4.png")no-repeat;}
.cont .pictrue .s3{background: url("../img/7.png")no-repeat;}
.cont .pictrue .s4{background: url("../img/6.png")no-repeat;}
.cont .pictrue .s5{background: url("../img/5.png")no-repeat;}
.cont .pictrue .pic_tit .p1{color: #0093ff;font-size:24px;height: 26px; display: inline-block; margin-top: 20px;}
.cont .pictrue .pic_tit .p2{color: #0093ff;font-size:18px; display:block; margin-left: 6px; opacity: 0.5; font-weight:300;margin-top: 20px;margin-bottom: 5px;}
.cont .pictrue .pic_tit .descrpition-function{color: #0093ff;font-size: 24px; height: 30px; line-height: 34px; float: left; margin-top: 2px;}
.cont .pictrue .pic_tit .mov{width:140px;}
.cont .pictrue .pic_tit .vote{width:40px;}
.cont .pictrue .pic_txt{margin-top: 10px; font-size: 16px;line-height: 24px;color: #aaa; text-align: justify; font-weight: 300;}
/*移动端*/
.content .download{margin: 0 auto;margin-bottom: 35px;width: 100%;max-width: 420px;padding: 0 10px;box-sizing: border-box; display: none;}
.content .download a{ -webkit-box-flex: 1;flex: 1;text-decoration: none;margin: 0 10px;display: block;background-color: transparent;}
.content .download a .iphone-link,.content .download a .android-link{border-radius: 6px;color: #fff; -webkit-box-flex: 1;  flex: 1; height: 60px;line-height: 60px;text-align: center;text-indent: 28px;font-size: 16px;background-position: 12px 50%;width: 100%;padding: 0;margin: 0;}
.iphone-link{background: url("../img/apple-logo.png") no-repeat;background-size:20%;background-color:#444;}
.android-link{background: url("../img/android-logo.png")no-repeat;background-size:20%;background-color:#99d45c;}
footer{background: #0093ff;color: #fff;height:28px;text-align: center;}
footer ul{width: 680px;height:100%; font-size: 0;padding: 0; margin: 0 auto;}
footer ul li{font-size:12px;vertical-align: middle;height: 24px;line-height: 24px; margin: 0 2px; white-space: normal;display: inline-block;}
footer ul li a{color: #fff; cursor: pointer;}
@media (max-width: 930px) {
    .wrap header{ }
    header .tem{left: 30px;right:30px;padding-top: 11%;}
    header .tem h3{font-size: 3vw;}
    header .tem .tem_txt{font-size: 1.5vw;margin-top: 0;}
    .wrap header{background: #0093ff; max-height: 520px;padding: 22% 0; position: relative; height:0;}
    header .tem .down .tem_r .jkx{font-size: 2.4vw; line-height: 2.4vw;  position: relative;}
    header .tem .down .tem_r i{font-size: 1.2vw;line-height: 1.2vw;}
}
@media(max-width: 760px){
    .content{background-color: #fff;  padding-bottom: 20px;}
    .cont{display: block;  padding: 0 30px;}
    .cont .pictrue{width: 100%;  max-width: 380px;  margin: 0 auto;  padding-bottom: 40px;  margin-bottom: 50px;  border-bottom: 1px solid #fd0;  height: auto;}
    .cont .pictrue span{width: 50vh;  height: 50vh;  max-width: 160px;  max-height: 160px; }
    .cont .pictrue .pic_tit{width: 25vw;display: inline-block;vertical-align: bottom;margin-left: 16px;}
    .cont .pictrue .pic_txt{margin-top: 10px; font-size: 16px;line-height: 24px;color: #aaa; text-align: justify;;clear: both;  font-weight: 400;}
    .cont .pictrue .pic_tit .p1{color: #0093ff;font-size:24px;height: 26px; float: left;margin-top: 16px;display: none;}
    .cont .pictrue .pic_tit .p2{margin-left: 2px;line-height: 22px;height: auto;}
    .cont .pictrue .pic_tit .descrpition-function{color: #0093ff;display: inline-block;font-size: 0;height: auto;line-height: 24px;margin-top: 10px;text-indent: 0;}
    .cont .pictrue .pic_tit .descrpition-function:after{white-space: pre;font-size: 24px;}
    .cont .pictrue .pic_tit .descrpition-function.picture:after{  content: "用图文\a生活点滴";}
}
@media (max-width:680px) {

    footer{overflow:auto;height:auto;padding-top: 5px;padding-bottom: 4px;}
    footer ul{width:420px; text-align: center;}
    footer ul li{margin: 0 10px; height:24px;}
}
@media (max-width: 720px) and (orientation: portrait), (max-width: 760px) and (orientation: landscape){
    .wrap header{width:100%;padding: 50% 0;}
    header .iphone{position: absolute;top: 0; width: 100%;height: 100%;padding-top: 14%; -webkit-box-sizing: border-box;  box-sizing: border-box;display: block; color:#fff;}
    header .tem{position: absolute; top:0; bottom:0; left: 12%; right:12%; margin: 0 auto; padding-top: 9%; max-width:1024px; font-size: 95%; box-sizing: border-box; display:none;}
    .content .download{display: flex;}
}
@media (max-width: 420px){
    .content .download a .iphone-link,.content .download a .android-link{border-radius: 6px;color: #fff; -webkit-box-flex: 1;  flex: 1;text-align: center;width: 100%;padding: 0;margin: 0;font-size: 13px;padding-right: 8px;height: 40px;line-height: 42px;background-position: 10px 50%;text-indent: 36px;}

    footer ul{width:100%;}
    .cont .pictrue span{background: url("../img/2.png")no-repeat; background-size: 100%;display:inline-block; background-position: bottom;width: 40vw;height: 40vw;max-width: 144px;max-height: 144px;}

}
@media (max-width: 320px){
    footer ul{width:320px;}
    footer ul li{margin: 0 6px;height: 18px;font-size: 10px; overflow: hidden;}
}
















